{% extends "layout.html" %}
{% block content %}
<form action="/movies/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="Year">Year</label>
            <input id="Year" type="text" class="form-control" placeholder="Year" name="Year">
        </div>
        <div class="col">
            <label for="Score">Score</label>
            <input id="Score" type="text" class="form-control" placeholder="Score"
                   name="Score">
        </div>
        <div class="col">
            <label for="Title">Title</label>
            <input id="Title" type="text" class="form-control" placeholder="Title" name="Title">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}